apiVersion: aether.dev/v1alpha
kind: IdentityInstance
metadata:
  name: cloud-iam-keycloak
  namespace: test-aether
spec:
  organisationId: org-123
  provider: keycloak
  version: "25.0.0"
  hostname: localhost
  database:
    mode: managedCluster
    managedCluster:
      instances: 1
      storage:
        size: "1Gi"
      resources:
        requests:
          cpu: "500m"
          memory: "1Gi"
