apiVersion: aether.dev/v1alpha
kind: IdentityInstance
metadata:
  name: cloud-iam-ferriskey
  namespace: test-aether
spec:
  organisationId: org-123
  provider: ferriskey
  version: "0.3.0"
  hostname: ferriskey.aether.local
  ferriskey:
    webappUrl: "https://ferriskey.aether.local"
    apiBaseUrl: "https://ferriskey.aether.local/api"
  ingress:
    enabled: true
    className: traefik
    tls:
      enabled: true
      clusterIssuer: letsencrypt-prod
      secretName: ferriskey-aether-local-tls
  database:
    mode: managedCluster
    managedCluster:
      instances: 1
      storage:
        size: "1Gi"
      resources:
        requests:
          cpu: "500m"
          memory: "1Gi"
